[submodule "util"]
	path = util
    url = https://github.com/occopus/util.git
	branch = devel
[submodule "info-broker"]
	path = info-broker
    url = https://github.com/occopus/info-broker.git
	branch = devel
[submodule "compiler"]
	path = compiler
    url = https://github.com/occopus/compiler.git
	branch = devel
[submodule "infra-processor"]
	path = infra-processor
    url = https://github.com/occopus/infra-processor.git
	branch = devel
[submodule "enactor"]
	path = enactor
    url = https://github.com/occopus/enactor.git
	branch = devel
[submodule "cloud-handler"]
	path = cloud-handler
    url = https://github.com/occopus/cloud-handler.git
	branch = devel
[submodule "service-composer"]
	path = service-composer
    url = https://github.com/occopus/service-composer.git
	branch = devel
[submodule "api"]
	path = api
    url = https://github.com/occopus/api.git
	branch = devel
[submodule "docs"]
	path = docs
    url = https://github.com/occopus/docs.git
    branch = devel
