[submodule "util"]
	path = util
    url = git@github.com:occopus/util.git
	branch = devel
[submodule "info-broker"]
	path = info-broker
    url = git@github.com:occopus/info-broker.git
	branch = devel
[submodule "compiler"]
	path = compiler
    url = git@github.com:occopus/compiler.git
	branch = devel
[submodule "infra-processor"]
	path = infra-processor
    url = git@github.com:occopus/infra-processor.git
	branch = devel
[submodule "enactor"]
	path = enactor
    url = git@github.com:occopus/enactor.git
	branch = devel
[submodule "cloud-handler"]
	path = cloud-handler
    url = git@github.com:occopus/cloud-handler.git
	branch = devel
[submodule "service-composer"]
	path = service-composer
    url = git@github.com:occopus/service-composer.git
	branch = devel
[submodule "api"]
	path = api
    url = git@github.com:occopus/api.git
	branch = devel
[submodule "docs"]
	path = docs
    url = git@github.com:occopus/docs.git
    branch = devel
